@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F9FAFA;
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p, span, a {
  font-family: 'Open Sans', sans-serif;
}

* {
  border-width: 1px;
  border-color: #FFFFFF;
  box-sizing: border-box;
}
